@font-face {
  font-family: "WorkSans";
  font-weight: 500;
  src: url('./fonts/WorkSans-Regular.ttf');
}

@font-face {
  font-family: "WorkSans";
  font-weight: 900;
  src: url('./fonts/WorkSans-Black.ttf');
}

:root {
  --sm: 14px;
  --md: 24px;
  --lg: 48px;

  --white: #ffffff;
  --blue: #070562;
  --orange: #FF8C19;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "WorkSans";
}

p {
  margin: 0;
}